* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
    color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.navbar {
    width: 100%;
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1000; 
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    padding: 6px 11px;
}

.navbar a {
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 22px;
    transition: all 0.3s ease-in-out;
}

.navbar li:hover {
    background-color: #555;
    border-radius: 6px;
}

.navbar-wrapper {
    padding: 6px 12px;
}

.section {
    width: 100%;
    padding: 50px 20px;
}

.light-section {
    background-color: #272935;
}

.dark-section {
    background-color: #23252f;
    color: #f4f4f4;
}

.dark-section h2 {
    font-size: 40px;
}

.light-section h2 {
    font-size: 40px;
}

.dark-section p {
    margin-top: 10px;
    font-size: 18px;
}

.light-section p {
    font-size: 18px;
}

.container {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}

.profile-about-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 50px 0px 30px 0px;
}

.profile-about-container p{
    color: grey;   
    padding: 5px;
}

/* Profile container */
.profile-container {
    max-width: 35%;
    flex: 1;
    text-align: center;
    padding-right: 20px;
    padding-left: 150px;
}

.about-me-container {
    max-width: 55%;
    margin: 0 auto;
    flex: 2;
}

.about-me-container h2{
    margin-bottom: 5px;
}

.about-me-container p{
    color: white;
}

.profile-image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid #333;
    padding-top: 15px;
}

.social-links {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.icon {
    width: 40px;
    height: 40px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon:hover {
    width: 60px;
    height: 60px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon img {
    width: 100%;
    height: auto;
}

.timeline-container {
    position: relative;
    padding-left: 0;
}

.timeline {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-left: 0;
    position: relative;
}

.timeline-image {
    float: left;
    width: 5%; 
    height: auto;
    margin-left: 2%;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.timeline-item {
    margin-bottom: 15px;
    margin-top: 15px;
    background-color: #2c3842;
    color: #f4f4f4;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.timeline-content {
    margin-left: 105px;
    position: relative;
}

.h2 {
    font-size: 40px;
}

.timeline-content h3 {
    font-size: 24px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.timeline-content p,
.timeline-content ul {
    margin: 10px 0;
    font-size: 18px;
}

.timeline-content a {
    color: #1e90ff;
    text-decoration: none;
}

footer {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
